* {
    font-family: "Arial", Helvetica, sans-serif;
}
#container {
    /* background-image: url("images/internet-example.png"); */
    width: 970px;
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
}
#header {
    /* background-color: red; */
    width: 970px;
    height: 138px;
    display: inline-block;
}
#header img {
    width: 100px;
    height: 91px;
    display: inline-block;
}
h1 {
    color: #474747;
    font-size: 49px;
    font-weight: 400;
    margin-top: 47px;
    display: inline-block;
    vertical-align: top;
    line-height: 0;
}
h1 span {
    color: #23649e;
}
h2 {
    background: linear-gradient(#23669f, #5384ad, #23669f);
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    height: 35px;
    margin: -20px 0px 0px 0px;
    padding-top: 28px;
    padding-left: 19px;
    line-height: 0;
    display: block;
}
#side {
    /* background-color: yellow;
    opacity: 0.5; */
    width: 210px;
    height: 862px;
    display: inline-block;
}
#side p:first-child {
    margin: 35px 0px 0px 5px;
    line-height: 0;
    font-weight: bold;
}
#side p:first-child span {
    color: red;
}
#side p:nth-child(2) {
    margin: 20px 8px 0px 5px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-size: 13px;
    font-weight: bold;
}
#side p:nth-child(2) span {
    color: #23649e;
}
#side button {
    padding: 0;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
    width: 195px;
    height: 38px;
    margin-left: 6px;
    font-weight: 600;
    color: white;
}
#watch {
    background: linear-gradient(to top right, #2a6ca3, #5b92bf);
    margin-top: 17px;
}
#resources {
    background: linear-gradient(to top right, #f07600, #eca74c);
    margin-top: 3px;
    margin-bottom: 22px;
}
hr {
    background: linear-gradient(gray, silver);
    margin: 0px 0px 0px 4px;
    width: 200px;
    height: 1px;
}
#learnmore {
    background-image: url("images/ad_background.png");
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
    width: 203px;
    height: 303px;
    box-shadow: 1px 1px 2px black;
}
#learnmore h3 {
    margin: 18px 0px 0px 0px;
    padding-top: 25px;
    color: white;
    text-align: center;
    letter-spacing: 0;
    line-height: 1.25;
    font-size: 24px;
    font-weight: normal;

}
#learnmore img {
    width: 86px;
    margin: 0px 0px 0px 55px;
}
#learnmore button {
    background: linear-gradient(to top left, #00c2df, #6dcfdf);
    margin: 12px 0px 0px 15px;
    width: 171px;
    height: 30px;
    border-radius: 5px;
}
#learnmore span {
    font-size: 12px;
    color: silver;
}
#main {
    /* background-color: blue;
    opacity: 0.5; */
    width: 760px;
    height: 677px;
    display: inline-block;
    vertical-align: top;
}
#topleft {
    height: 65px;
    width: 545px;
    display: inline-block;
    vertical-align: top;
}
#topleft img {
    margin: 11px 0px 0px 41px;
    width: 20px;
    display: inline-block;
}
#topleft p {
    margin-top: 14px;
    font-size: 16px;
    color: #3470a5;
    display: inline-block;
    vertical-align: top;
}
#topright {
    height: 65px;
    width: 201px;
    display: inline-block;
}
#topright img {
    margin: 10px 0px 0px 0px;
    width: 40px;
    display: inline-block;
}
#topright p {
    font-size: 10px;
    font-weight: 700;
    margin: 2px 0px 0px 5px;
    height: 51px;
    width: 151px;
    text-align: center;
    letter-spacing: 0.2px;
    display: inline-block;
    vertical-align: top;
}
#topright span {
    font-size: 24px;
    color: #00c0df;
}
#mid {

}
#mid hr {
    margin-left: 42px;
    width: 706px;
}
#mid h3 {
    margin: 4px 0px 0px 42px;
    color: #23669e;
    display: block;
}
#mid p {
    margin: 7px 0px 0px 41px;
    font-size: 14px;
    letter-spacing: 0.3px;
}
.web {
    color: #0c9db3;
    font-style: normal;
}
.bold {
    font-weight: bold;
}
#mid ul {
    font-size: 14px;
    margin: 7px 18px 0px 42px;
    letter-spacing: 0.2px;
    height: 106px;
}
#mid ul li {
    margin-bottom: 6px;
}
#mid img {
    margin: 16px 0px 14px 251px;
    display: block;
    height: 98px;
}
ol {
    font-size: 14px;
    margin: 6px 18px 0px 40px;
    letter-spacing: 0.2px;
    height: 137px;
}
ol li {
    margin-bottom: 6px;
}
#bottom {
    margin: 19px 0px 0px 46px;
    border: 5px solid #0085e0;
    box-shadow: 2px 2px 4px gray;
    width: 688px;
    height: 120px;
    display: inline-block;
}
#bottom img {
    width: 115px;
    margin: 12px 0px 0px 10px;
    display: inline-block;
}
#wrapper {
    display: inline-block;
    vertical-align: top;
    width: 536px;
    height: 106px;
    margin: 13px 0px 0px 14px;
}
#bottom h3 {
    color: #23669e;
    display: inline-block;
    width: 544px;
    vertical-align: top;
    line-height: 1;
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1px;
}
#wrapper p {
    display: inline-block;
    margin: 7px 0px 0px 0px;
    width: 542px;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.italicize {
    font-style: italic;
}
